/*
  body
*/
html,
body,
#app
  height 100%

body
  background radial-gradient(#f2f2f2 4px, transparent 5px)
  background-size 20px 20px
  color $black
  font-family "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
  font-size 14px
  line-height 1.7

/*
  header
*/
.header
  background linear-gradient(to bottom, $blue01 5%, darken($blue01, 5) 100%)
  box-shadow 0 3px 5px $blue01
  font-family: "Roboto", sans-serif
  min-height 58px
  position fixed
  top 0
  width 100%
  z-index $indexLevel1
  &:after
    background $blue02
    content ""
    display block
    height 2px
    width 100%
  & > h1
    font-size 28px
    font-weight bold
    letter-spacing .03em
    padding 5px 0 3px
    text-align center

/*
  content
*/
.header + div
  background-color rgba(255, 255, 255, 0.7)
  min-height 100%
  margin 0 auto
  max-width 640px
  padding 86px 1% 100px

.header + .post
  padding-bottom 250px

/*
  post
*/
.postSet
  @extends .m-box
  border-radius 10px
  margin-bottom 30px

.postSet--radioWrap
  display flex
  flex-wrap wrap
  label
    border-radius 50%
    height 80px
    margin-bottom 10px
    margin-right 10px
    width 80px

.postSet--radioWrap + .postSet--radioWrap
  border-top 2px dashed #fff
  padding-top 10px

.postSet--rangeWrap
  label
    align-items center
    display flex
    i
      align-items center
      background-color #fff
      border 1px solid $blue01
      color $blue03
      cursor pointer
      display flex
      height 50px
      justify-content center
      margin-left 20px
      transition all 0.2s ease-out
      width 50px
      & + i
        margin-left 5px
      &:hover
        background-color $blue02

.postSet--textarea,
.postSet--text
  margin-bottom 10px
  width 96%

.postSet--textarea
  @extends .m-textarea
  max-width 96%
  min-height 68px
  min-width 96%
  height 68px

.postSet--text
  @extends .m-text

.postSet--switch
  switch(4em, 200px)
  & + label
    margin 20px 0 10px

.postConfirm
  @extends .m-box
  & > div
    font-size 14px
    margin-bottom 25px
    white-space pre

.post__preview
  background-color rgba(black, .8)
  bottom 0
  color #fff
  left 0
  position fixed
  -webkit-overflow-scrolling touch
  overflow-x auto
  white-space nowrap
  width 100%
  z-index $indexLevel5
  > div
    width 640px
    margin 0 auto
    padding 10px 1% 5px

.post__preview__status
  @extends .m-box__status
  & > li
    border-color $white

/*
  archive
*/
.query__item
  @extends .m-box
  background lighten($blue01, 4) url($imgPath + 'dragon.png')
  background-repeat no-repeat
  background-position top 16% left 60%
  padding-top 12px

.query__item__header
  font-size 13px
  display flex
  justify-content space-between
  margin-bottom 7px

.qmery__item__header__detial
  width 70%

.qmery__item__writer
  font-weight bold
  margin-bottom 5px
  > i
    color $blue03
    font-size 18px
    margin-right 3px

.query__item__status
  @extends .m-box__status
  margin-bottom 0

.query__item__dora
  align-items flex-end
  display flex
  font-weight bold
  justify-content flex-end
  padding 0
  width 30%
  > i
    height auto
    margin-left 5px
    margin-right 0
    width 24%

.query__item__footer
  align-items center
  display flex
  justify-content space-between
  margin-top 6px
  padding-top 5px

.query__item__footer__detail
  font-size 13px
  width 45%
  > div
    border-bottom 2px dashed $blue02
    margin-bottom 5px
    padding-bottom 2px
    > i
      color $blue03
      font-size 16px
      margin-right 5px
      position relative
      top 1px

.query__item__btn
  appearance none
  align-items center
  background-color transparent
  border 1px solid $blue03
  border-radius 10px
  box-sizing border-box
  cursor pointer
  display flex
  font-size 22px
  justify-content center
  height 64px
  line-height 1
  letter-spacing .04em
  padding-right .08em
  transition all 0.2s ease-out
  width 45%
  &:hover
    background-color $blue02

/*
  404 notfound
*/
.notfound
  text-align center

/*
  account
*/
.account
  bottom 10px
  position fixed
  left 10px
  z-index $indexLevel4
.account__btn,
.account__display
  @extends .m-iconBtn
  box-shadow -1px 1px 5px darken($blue01, 20)
  font-size 40px
  height 100px
  width 100px
  &:hover
    border-color darken($blue02, 50)

.account__display
  overflow hidden
  & > img
    min-height 100%
    max-width 100%
    &:hover
      opacity 0.9

/*
  footer
*/
.fooerWrap
  width 100vw
.footer
  triangle(150px, 150px, bottom-right, $blue01)
  bottom 0
  right 0
  position fixed
  text-align right
  transition all 0.4s ease
  z-index $indexLevel2
  &.active
    border-color transparent transparent lighten($blue02, 12) transparent
    border-width 0 0 100vh 100vw

.footer__overlay
  triangle(0, 0, top-left, rgba(#000, .2))
  content ""
  left 0
  position fixed
  top 0
  transition all 0.4s ease
  z-index $indexLevel1

.footer.active
  & + .footer__overlay
    border-width 100vh 100vw 0 0
    display block

.footer__btn
  @extends .m-iconBtn
  bottom 10px
  font-size 40px
  height 55px
  right 10px
  position fixed
  width 55px
  &:hover
    border-color #fff

.footer__copy
  bottom 143px
  font-family "Roboto", sans-serif
  font-size 16px
  font-weight bold
  right -56px
  position fixed
  transform rotate(-90deg)