/*
  body
*/
html,
body,
#app
  height 100%

body
  background radial-gradient(#f2f2f2 4px, transparent 5px)
  background-size 20px 20px
  color $black
  font-family "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif
  font-size 14px
  line-height 1.7

h1,h2,h3,h4,h5,h6,
ul, ol, li
  margin 0
  padding 0

a
  border-bottom 1px solid $blue03
  color darken($blue03, 10)
  text-decoration none
  transition all 0.2s ease-out
  &:hover
    border-color darken($blue03, 20)
    color darken($blue03, 20)

/*
  header
*/
.header
  background linear-gradient(to bottom, $blue01 5%, darken($blue01, 5) 100%)
  box-shadow 0 3px 5px $blue01
  font-family: "Roboto", sans-serif
  min-height 58px
  position fixed
  text-align center
  top 0
  width 100%
  z-index $indexLevel1
  &:after
    size(100%, 2px)
    background $blue02
    content ""
    display block
  & > h1
    font-size 28px
    font-weight bold
    cursor pointer
    display inline-block
    letter-spacing .03em
    padding 5px 20px 3px
    text-align center

/*
  newPostBtn
*/
.newPostBtn
  @extends .m-iconBtn
  size(55px)
  top 10px
  font-size 32px
  right 10px
  position fixed
  z-index $indexLevel1
  &:hover
    border-color #fff

/*
  breadcrumb
*/
.breadcrumb
  @extends .m-flex
  font-size 14px
  margin-bottom 11px
  > li:first-child
    color darken($blue03, 10)
    cursor pointer
    margin-right 5px
    transition all 0.2s ease-out
    &:hover
      color darken($blue03, 20)
    .icon-home:before
      font-size 15px
      margin-right 2px
      position relative
      top 1px
  li
    .icon-right:before
      margin-right 5px

/*
  content
*/
[class^="content-"]
  background-color rgba(255, 255, 255, 0.7)
  box-sizing border-box
  min-height 100%
  margin 0 auto
  max-width 640px
  padding 74px 1% 100px

.content-post
  padding-bottom 250px
  user-select none

.content__footer
  margin-top 80px
  text-align center

/*
  post
*/
.postSet
  @extends .m-box
  border-radius 10px
  margin-bottom 30px

.postSet--radioWrap
  @extends .m-flex
  label
    size(80px)
    border-radius 50%
    margin-bottom 10px
    margin-right 10px

.postSet--radioWrap + .postSet--radioWrap
  border-top 2px dashed #fff
  padding-top 10px

.postSet--rangeWrap
  label
    @extends .m-flex
    i
      @extends .m-flex--center
      size(50px)
      background-color $white
      border 1px solid $blue01
      color $blue03
      cursor pointer
      margin-left 20px
      transition all 0.2s ease-out
      & + i
        margin-left 5px
      &:hover
        background-color $blue02

.postSet--textarea,
.postSet--text
  margin-bottom 10px
  width 96%

.postSet--textarea
  @extends .m-textarea
  max-width 96%
  min-height 68px
  min-width 96%
  height 68px

.postSet--text
  @extends .m-text

.postSet--switch
  switch(4em, 200px)
  & + label
    margin 20px 0 10px

.postConfirm
  @extends .m-box
  & > div
    font-size 14px
    margin-bottom 25px
    white-space pre-wrap

.post__preview
  background-color rgba(darken($black, 20), .8)
  bottom 0
  color #fff
  left 0
  position fixed
  -webkit-overflow-scrolling touch
  overflow-x auto
  white-space nowrap
  width 100%
  z-index $indexLevel5
  > div
    width 640px
    margin 0 auto
    padding 10px 1% 5px

.post__preview__status
  @extends .m-box__status
  & > li
    border-color $white
  & + .m-box__cards
    border-radius 4px
    background-color lighten($black, 5)

/*
  archive
*/
.query__item
  @extends .m-box
  background lighten($blue01, 4) url($imgDragon)
  background-repeat no-repeat
  background-position top 16% left 60%
  padding-top 12px
  & a
    border-bottom none
    color $black
    &:hover
      color darken($blue03, 20)

.query__item__header
  @extends .m-flex--center
  font-size 13px
  margin-bottom 7px

.qmery__item__header__detial
  width 70%

.qmery__item__writer
  font-weight bold
  margin-bottom 5px
  > i
    color $blue03
    font-size 18px
    margin-right 3px

.query__item__status
  @extends .m-box__status
  margin-bottom 0

.query__item__dora
  align-items flex-end
  display flex
  font-weight bold
  justify-content flex-end
  padding 0
  width 30%
  > i
    size(24%, auto)
    margin-left 5px
    margin-right 0

.query__item__footer
  @extends .m-flex--between
  margin-top 6px
  padding-top 5px

.query__item__footer__detail
  font-size 13px
  width 50%
  > div
    border-bottom 2px dashed $blue02
    margin-bottom 5px
    padding-bottom 2px
    > i
      color $blue03
      font-size 16px
      margin-right 5px
      position relative
      top 1px

.query__item__btn
  @extends .m-flex--center
  size(45%, 64px)
  appearance none
  background-color transparent
  border 2px solid $blue03
  border-radius 10px
  box-sizing border-box
  cursor pointer
  font-size 18px
  line-height 1
  letter-spacing .04em
  padding-right .08em
  transition all 0.2s ease-out
  &:hover
    background-color $blue02

/*
  single
*/
.single
  font-size 16px
  line-height 1.6

.single__date
  font-size 14px
  margin-bottom 5px
  text-align right

.single__writer
  font-size 18px
  margin-bottom 5px
  text-align right
  > i
    color $blue03
    font-size 20px
    margin-right 4px

.single__postTitle
  border-bottom 1px solid $blue01
  font-size 18px
  font-weight bold
  letter-spacing 0.06em
  margin-bottom 16px

.single__status
  margin-bottom 15px
  font-weight bold
  > li
    display inline-block
    border-bottom 1px dashed $blue02
    margin-right 10px
    &:before
      @extends .m-icomoon
      @extends .icon-clip:before
      color $blue03
      margin-right 2px

.single__entry
  white-space pre-wrap

.single__card
  margin-bottom 8px
  > i
    @extends .m-card
    size(42px, auto)

.single__title
  font-size 18px
  font-weight bold
  letter-spacing 0.07em
  margin-bottom 8px
  &:before
    @extends .m-icomoon
    @extends .icon-radio-checked:before
    color $blue03
    margin-right 4px
    position relative
    top 1px

[class^="single__subTitle"]
  font-weight bold
  margin-bottom 2px
  &:before
    @extends .m-icomoon
    color $blue03
    margin-right 2px

.single__subTitle--clip
  &:before
    @extends .icon-clip:before

.single__subTitle--user
  &:before
    @extends .icon-user:before
    font-size 15px
    margin-right 4px
    position relative
    top 1px

.single__submit
  margin 25px 0 10px
  text-align center

.single__submit__note
  margin-top 5px
  font-size 14px

/*
  result
*/
.result__label
  text-align center
  font-size 30px
  font-weight bold
  letter-spacing 0.4em
  margin 20px 0
  padding-left 0.2em

.result__probability
  margin-bottom 25px
  & > h4
    margin 20px 0 5px

.result__probability__card
  margin-bottom 8px
  > i
    @extends .m-card
    size(42px, auto)
    margin-right 5px
  > span
    font-size 20px
    font-weight bold

/*
  profile
*/

.profile
  @extends .m-flex--center
  margin-bottom 25px

.profile__icon
  size(120px)
  border 2px solid $blue02
  border-radius 50%
  margin-right 20px
  transition all 0.2s
  overflow hidden
  img
    size(100%)
  &:hover
    border-color $blue03

.profile__name
  font-size 15px

/*
  comment form
*/
.commentForm
  border-bottom 2px dashed $blue01
  margin-bottom 40px

.commentForm__switch
  @extends .m-iconBtn
  size(60px)
  font-size 26px
  margin 10px 0
  &:hover
    border-color #fff
  &.active
    background-color lighten($blue03, 10)
    border-color $blue03

.commentForm__textarea
  @extends .m-textarea
  margin-bottom 20px
  max-width 96%
  min-height 68px
  min-width 96%
  height 68px

.commentForm__score
  margin-bottom 20px

.commentForm__score__select
  @extends .m-flex--center
  font-weight bold
  > li
    @extends .m-flex--center
    background-color $white
    border 1px solid $blue01
    border-radius 50%
    cursor pointer
    text-align center
    transition all 0.2s ease-out
    width 16%
    &:before
      content ""
      display block
      padding-top 100%
    &:hover
      background-color $blue02

.commentForm__button
  @extends .m-flex
  size(230px, 50px)
  appearance none
  background-color lighten($blue01, 8)
  border 2px solid $blue03
  border-radius 6px
  cursor pointer
  font-size 16px
  letter-spacing 0.04em
  outline none
  padding 1px 0 0 50px
  position relative
  transition all 0.2s ease-out
  &:hover
    background-color $blue02
  i
    color $blue03
    font-size 28px
    left 10px
    margin-top -14px
    position absolute
    top 50%
    &:hover
      background-color #eee

.commentForm__button--submit
  @extends .commentForm__button
  &:active:not(:disabled)
    animation shake .5s 4
    &:before
      animation pourItUp 2s
      background-color $white
      border-radius 6px
      content ""
      position absolute
      left 0
      top 0
      width 100%
      z-index -1
  &:disabled
    background-color #eee
    border-color #ddd
    cursor auto

/*
  comment
*/
.comments
  padding-left 40px
  margin 35px 0 25px

.comment
  border-left 3px solid $blue02
  margin-bottom 35px
  padding-left 10px
  position relative
  h4
    font-size 14px
    font-weight normal
    > span
      margin-left 5px
  [class^="icon-"]
    color $blue03
    font-size 16px
    margin-right 4px
    position relative
    top 1px
  footer
    @extends .m-flex--between

.comment__count
  size(2.5em)
  background-color $white
  border 2px solid $blue02
  border-radius 50%
  font-size 13px
  font-weight bold
  left -44px
  line-height 2.5em
  position absolute
  text-align center
  top 2px

.comment__status
  @extends .m-flex--between
  margin 5px 0

.comment__icon
  size(60px)
  border 2px solid $blue02
  border-radius 50%
  transition all 0.2s
  overflow hidden
  img
    size(100%)
  &:hover
    border-color $blue03

.comment__text
  border-bottom 1px solid $blue01
  border-top 1px solid $blue01
  font-size 15px
  line-height 1.7
  margin-bottom 5px
  padding 5px 0
  white-space pre-wrap

/*
  account
*/
.account
  bottom 10px
  position fixed
  left 10px
  z-index $indexLevel1
.account__btn,
.account__display
  @extends .m-iconBtn
  size(100px)
  box-shadow -1px 1px 5px darken($blue01, 20)
  font-size 40px
  &:hover
    border-color darken($blue02, 50)
  +sp()
    size(80px)

.account__display
  overflow hidden
  & > img
    min-height 100%
    max-width 100%
    &:hover
      opacity 0.9

/*
  pagination
*/
.pagination
  font-size 16px
  margin 20px 0
  text-align center

.pagination__btns
  @extends .m-flex--center
  & > li
    size(20%, 42px)
    margin 1%
    & > i
      @extends .m-flex--center
      size(100%)
      background-color lighten($blue01, 4)
      border-radius 6px
      color darken($blue03, 5)
      cursor pointer
      font-size 20px
      &:hover
        background-color $blue02
      &.disable
        background-color $glay
        color $white
        cursor default

/*
  footer
*/
[class^="footer__overlay"]
  position fixed
  transition all 0.4s ease
  z-index $indexLevel1

.footer__overlay--black
  triangle(0, 0, top-left, rgba(#000, .2))
  left 0
  top 0
  &.active
    border-width 100vh 100vw 0 0

.footer__overlay--blue
  triangle(0, 0, bottom-right, lighten($blue02, 12))
  bottom 0
  right 0
  &.active
    border-width 0 0 100vh 100vw

.footer__copy
  bottom 5px
  font-family "Roboto", sans-serif
  font-size 16px
  font-weight bold
  left 5%
  letter-spacing 0.02em
  position fixed
  text-shadow 1px 1px 1px $white
  z-index $indexLevel3

.footer__menuBtn
  @extends .m-iconBtn
  size(55px)
  bottom 10px
  font-size 40px
  right 10px
  position fixed
  transition all 0.2s ease
  z-index $indexLevel2
  &:hover
    border-color #fff
  > i
    @extends .m-flex--center
    size(100%)
  &.active
    size(104px)
    font-size 60px

.footer__inquiry
  size(80px)
  border 2px solid #769fcd
  border-radius 50%
  box-shadow -1px 1px 5px darken($blue01, 20)
  font-size 40px
  left 10px
  overflow hidden
  position fixed
  top 10px
  transition all 0.2s ease-out
  z-index $indexLevel4
  a
    display block
  img
    max-height 100%
    max-width 100%
  &:hover
    border-color darken($blue02, 50)

.footer__inquiryMsg
  background-color rgba($white, .9)
  border-radius 6px
  left 20px
  max-width 300px
  padding 5px
  position fixed
  text-align center
  top 100px
  z-index $indexLevel4

.footer__menu
  bottom 125px
  color $black
  font-weight bold
  right 10px
  position fixed
  text-align right
  text-shadow 1px 1px 1px $white
  z-index $indexLevel4
  > li
    border-bottom 2px dashed $blue03
    cursor pointer
    font-size 16px
    line-height 1
    padding 10px 0
    &:first-child
      border-top 2px dashed $blue03
    &:hover
      color darken($blue03, 20)