//images path
$imgPath = '../img/'
$imgPathCards = $imgPath + 'cards.png'

//color
$White = #f7fbfc
$black = #3b3b3b
$blue01 = #d6e6f2
$blue02 = #b9d7ea
$blue03 = #769fcd

//z-index
$indexLevel1 = 10
$indexLevel2 = 100
$indexLevel3 = 1000
$indexLevel4 = 10000
$indexLevel5 = 100000
$indexLevel6 = 1000000