@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?r2l9yz");
  src: url("fonts/icomoon.eot?r2l9yz#iefix") format('embedded-opentype'), url("fonts/icomoon.ttf?r2l9yz") format('truetype'), url("fonts/icomoon.woff?r2l9yz") format('woff'), url("fonts/icomoon.svg?r2l9yz#icomoon") format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^="icon-"],
[class*=" icon-"] {
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-info:before {
  content: "\e902";
}
.icon-snow:before {
  content: "\e903";
}
.icon-home:before {
  content: "\e900";
}
.icon-menu:before {
  content: "\e904";
}
.icon-down:before {
  content: "\e905";
}
.icon-up:before {
  content: "\e906";
}
.icon-config:before {
  content: "\e901";
}
.icon-pen:before {
  content: "\e907";
}
.icon-spades:before {
  content: "\e917";
}
.icon-clubs:before {
  content: "\e918";
}
.icon-diamonds:before {
  content: "\e919";
}
.icon-cart:before {
  content: "\e93a";
}
.icon-search:before {
  content: "\e986";
}
.icon-clip:before,
.single__status > li:before,
.single__subTitle:before {
  content: "\e9cd";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-android:before {
  content: "\eac0";
}
.icon-price-tag:before {
  content: "\e935";
}
.icon-bubble:before {
  content: "\e96b";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-radio-checked:before,
.single__title:before {
  content: "\ea54";
}
.icon-plus:before {
  content: "\f067";
}
.icon-minus:before {
  content: "\f068";
}
.icon-check:before {
  content: "\f00c";
}
.icon-close:before {
  content: "\f00d";
}
.icon-heart:before {
  content: "\f004";
}
.icon-star:before {
  content: "\f005";
}
.icon-star-o:before {
  content: "\f006";
}
.icon-user:before {
  content: "\f007";
}
.icon-bookmark:before {
  content: "\f02e";
}
.icon-bookmark-o:before {
  content: "\f097";
}
.icon-double-left:before {
  content: "\f100";
}
.icon-double-right:before {
  content: "\f101";
}
.icon-angle-left:before {
  content: "\f104";
}
.icon-right:before {
  content: "\f105";
}
.icon-star-h:before {
  content: "\f123";
}
.icon-mail:before {
  content: "\f1d8";
}
.icon-safari:before {
  content: "\f267";
}
.icon-chrome:before {
  content: "\f268";
}
.icon-firefox:before {
  content: "\f269";
}
.icon-opera:before {
  content: "\f26a";
}
.icon-internet-explorer:before {
  content: "\f26b";
}
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: bold;
  margin: 0;
  padding: 0;
}
hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
a {
  background-color: transparent;
}
img {
  border-style: none;
  vertical-align: bottom;
}
ul,
ol,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]-moz-focusring,
[type="reset"]-moz-focusring,
[type="submit"]-moz-focusring {
  outline: 1px dotted ButtonText;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
strong {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(60%, #b9d7ea), to(transparent));
  background: linear-gradient(transparent 50%, #b9d7ea 60%, transparent 100%);
  font-weight: bold;
}
.m-icomoon,
.m-ttl--page:before,
.single__status > li:before,
.single__title:before,
.single__subTitle:before {
  font-family: 'icomoon' !important;
  font-style: normal;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
}
.m-ttl--page {
  font-family: "Roboto", sans-serif;
  border-bottom: 2px dashed #d6e6f2;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.02em;
  margin-bottom: 20px;
  padding-bottom: 3px;
}
.m-ttl--page:before {
  content: "\e903";
  font-size: 20px;
  font-weight: bold;
  padding-right: 2px;
  position: relative;
  top: 2px;
}
.m-ttl--section {
  font-size: 16px;
  font-weight: bold;
  margin: 15px 10px;
}
.m-btn,
.m-btn--able,
.m-btn--disabled,
.m-modal__btn > button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 6px;
  font-size: 24px;
  letter-spacing: 0.04em;
  margin-right: 15px;
  outline: none;
  padding: 14px 28px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.m-btn--able {
  background-color: #f5f9fc;
  border: 2px solid #769fcd;
  cursor: pointer;
}
.m-btn--able:hover {
  background-color: #b9d7ea;
}
.m-btn--disabled {
  cursor: not-allowed;
  background-color: #eee;
  border: 2px solid #ddd;
}
.m-iconBtn,
.m-modal__close,
.newPostBtn,
.account__btn,
.account__display,
.footer__menuBtn {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #769fcd;
  border: 2px solid transparent;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.m-iconBtn > i,
.m-modal__close > i,
.newPostBtn > i,
.account__btn > i,
.account__display > i,
.footer__menuBtn > i {
  opacity: 0.8;
}
.m-text,
.m-textarea,
.postSet--textarea,
.postSet--text {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff;
  border: 1px solid #d6e6f2;
  border-radius: 8px;
  font-size: 16px;
  line-height: 1.4;
  outline: none;
  padding: 4px 5px;
}
.m-radio {
  display: none;
}
.m-radio + label {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #d6e6f2;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  font-size: 16px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.m-radio + label:hover {
  border-color: #769fcd;
}
.m-radio:checked + label {
  background-color: #b9d7ea;
}
.m-range {
  max-width: 300px;
  width: 100%;
}
.m-range + label {
  font-size: 20px;
  font-weight: bold;
  display: block;
}
.m-select {
  border: 1px solid #d6e6f2;
  outline: none;
}
.m-select option {
  font-size: 16px;
  font-weight: bold;
  background-color: #fff;
}
.m-select option:checked {
  background-color: #b9d7ea !important;
}
.m-select option:hover {
  background-color: #769fcd;
}
.m-cards > i,
.m-card,
.m-modal__card > i,
.m-box__status .m-box__card > i,
.m-box__cards > i,
.post__preview__status .m-box__card > i,
.query__item__status .m-box__card > i,
.single__card > i {
  background-image: url("../img/cards.png");
  background-size: 1000% 400%;
  display: inline-block;
  font-size: 0;
  height: 100%;
  max-height: 128px;
  max-width: 84px;
  overflow: hidden;
  width: 7.14285714286%;
}
.m-cards > i:after,
.m-card:after,
.m-modal__card > i:after,
.m-box__status .m-box__card > i:after,
.m-box__cards > i:after,
.post__preview__status .m-box__card > i:after,
.query__item__status .m-box__card > i:after,
.single__card > i:after {
  content: "";
  display: block;
  padding-top: 152.380952381%;
}
.m-cards > i.m1,
.m-card.m1,
.m-modal__card > i.m1,
.m-box__status .m-box__card > i.m1,
.m-box__cards > i.m1,
.post__preview__status .m-box__card > i.m1,
.query__item__status .m-box__card > i.m1,
.single__card > i.m1 {
  background-position: 0% 0;
}
.m-cards > i.s1,
.m-card.s1,
.m-modal__card > i.s1,
.m-box__status .m-box__card > i.s1,
.m-box__cards > i.s1,
.post__preview__status .m-box__card > i.s1,
.query__item__status .m-box__card > i.s1,
.single__card > i.s1 {
  background-position: 0% 33.3333333333%;
}
.m-cards > i.p1,
.m-card.p1,
.m-modal__card > i.p1,
.m-box__status .m-box__card > i.p1,
.m-box__cards > i.p1,
.post__preview__status .m-box__card > i.p1,
.query__item__status .m-box__card > i.p1,
.single__card > i.p1 {
  background-position: 0% 66.6666666666%;
}
.m-cards > i.m2,
.m-card.m2,
.m-modal__card > i.m2,
.m-box__status .m-box__card > i.m2,
.m-box__cards > i.m2,
.post__preview__status .m-box__card > i.m2,
.query__item__status .m-box__card > i.m2,
.single__card > i.m2 {
  background-position: 11.11111111111111% 0;
}
.m-cards > i.s2,
.m-card.s2,
.m-modal__card > i.s2,
.m-box__status .m-box__card > i.s2,
.m-box__cards > i.s2,
.post__preview__status .m-box__card > i.s2,
.query__item__status .m-box__card > i.s2,
.single__card > i.s2 {
  background-position: 11.11111111111111% 33.3333333333%;
}
.m-cards > i.p2,
.m-card.p2,
.m-modal__card > i.p2,
.m-box__status .m-box__card > i.p2,
.m-box__cards > i.p2,
.post__preview__status .m-box__card > i.p2,
.query__item__status .m-box__card > i.p2,
.single__card > i.p2 {
  background-position: 11.11111111111111% 66.6666666666%;
}
.m-cards > i.m3,
.m-card.m3,
.m-modal__card > i.m3,
.m-box__status .m-box__card > i.m3,
.m-box__cards > i.m3,
.post__preview__status .m-box__card > i.m3,
.query__item__status .m-box__card > i.m3,
.single__card > i.m3 {
  background-position: 22.22222222222222% 0;
}
.m-cards > i.s3,
.m-card.s3,
.m-modal__card > i.s3,
.m-box__status .m-box__card > i.s3,
.m-box__cards > i.s3,
.post__preview__status .m-box__card > i.s3,
.query__item__status .m-box__card > i.s3,
.single__card > i.s3 {
  background-position: 22.22222222222222% 33.3333333333%;
}
.m-cards > i.p3,
.m-card.p3,
.m-modal__card > i.p3,
.m-box__status .m-box__card > i.p3,
.m-box__cards > i.p3,
.post__preview__status .m-box__card > i.p3,
.query__item__status .m-box__card > i.p3,
.single__card > i.p3 {
  background-position: 22.22222222222222% 66.6666666666%;
}
.m-cards > i.m4,
.m-card.m4,
.m-modal__card > i.m4,
.m-box__status .m-box__card > i.m4,
.m-box__cards > i.m4,
.post__preview__status .m-box__card > i.m4,
.query__item__status .m-box__card > i.m4,
.single__card > i.m4 {
  background-position: 33.333333333333336% 0;
}
.m-cards > i.s4,
.m-card.s4,
.m-modal__card > i.s4,
.m-box__status .m-box__card > i.s4,
.m-box__cards > i.s4,
.post__preview__status .m-box__card > i.s4,
.query__item__status .m-box__card > i.s4,
.single__card > i.s4 {
  background-position: 33.333333333333336% 33.3333333333%;
}
.m-cards > i.p4,
.m-card.p4,
.m-modal__card > i.p4,
.m-box__status .m-box__card > i.p4,
.m-box__cards > i.p4,
.post__preview__status .m-box__card > i.p4,
.query__item__status .m-box__card > i.p4,
.single__card > i.p4 {
  background-position: 33.333333333333336% 66.6666666666%;
}
.m-cards > i.m5,
.m-card.m5,
.m-modal__card > i.m5,
.m-box__status .m-box__card > i.m5,
.m-box__cards > i.m5,
.post__preview__status .m-box__card > i.m5,
.query__item__status .m-box__card > i.m5,
.single__card > i.m5 {
  background-position: 44.44444444444444% 0;
}
.m-cards > i.s5,
.m-card.s5,
.m-modal__card > i.s5,
.m-box__status .m-box__card > i.s5,
.m-box__cards > i.s5,
.post__preview__status .m-box__card > i.s5,
.query__item__status .m-box__card > i.s5,
.single__card > i.s5 {
  background-position: 44.44444444444444% 33.3333333333%;
}
.m-cards > i.p5,
.m-card.p5,
.m-modal__card > i.p5,
.m-box__status .m-box__card > i.p5,
.m-box__cards > i.p5,
.post__preview__status .m-box__card > i.p5,
.query__item__status .m-box__card > i.p5,
.single__card > i.p5 {
  background-position: 44.44444444444444% 66.6666666666%;
}
.m-cards > i.m6,
.m-card.m6,
.m-modal__card > i.m6,
.m-box__status .m-box__card > i.m6,
.m-box__cards > i.m6,
.post__preview__status .m-box__card > i.m6,
.query__item__status .m-box__card > i.m6,
.single__card > i.m6 {
  background-position: 55.55555555555556% 0;
}
.m-cards > i.s6,
.m-card.s6,
.m-modal__card > i.s6,
.m-box__status .m-box__card > i.s6,
.m-box__cards > i.s6,
.post__preview__status .m-box__card > i.s6,
.query__item__status .m-box__card > i.s6,
.single__card > i.s6 {
  background-position: 55.55555555555556% 33.3333333333%;
}
.m-cards > i.p6,
.m-card.p6,
.m-modal__card > i.p6,
.m-box__status .m-box__card > i.p6,
.m-box__cards > i.p6,
.post__preview__status .m-box__card > i.p6,
.query__item__status .m-box__card > i.p6,
.single__card > i.p6 {
  background-position: 55.55555555555556% 66.6666666666%;
}
.m-cards > i.m7,
.m-card.m7,
.m-modal__card > i.m7,
.m-box__status .m-box__card > i.m7,
.m-box__cards > i.m7,
.post__preview__status .m-box__card > i.m7,
.query__item__status .m-box__card > i.m7,
.single__card > i.m7 {
  background-position: 66.66666666666667% 0;
}
.m-cards > i.s7,
.m-card.s7,
.m-modal__card > i.s7,
.m-box__status .m-box__card > i.s7,
.m-box__cards > i.s7,
.post__preview__status .m-box__card > i.s7,
.query__item__status .m-box__card > i.s7,
.single__card > i.s7 {
  background-position: 66.66666666666667% 33.3333333333%;
}
.m-cards > i.p7,
.m-card.p7,
.m-modal__card > i.p7,
.m-box__status .m-box__card > i.p7,
.m-box__cards > i.p7,
.post__preview__status .m-box__card > i.p7,
.query__item__status .m-box__card > i.p7,
.single__card > i.p7 {
  background-position: 66.66666666666667% 66.6666666666%;
}
.m-cards > i.m8,
.m-card.m8,
.m-modal__card > i.m8,
.m-box__status .m-box__card > i.m8,
.m-box__cards > i.m8,
.post__preview__status .m-box__card > i.m8,
.query__item__status .m-box__card > i.m8,
.single__card > i.m8 {
  background-position: 77.77777777777777% 0;
}
.m-cards > i.s8,
.m-card.s8,
.m-modal__card > i.s8,
.m-box__status .m-box__card > i.s8,
.m-box__cards > i.s8,
.post__preview__status .m-box__card > i.s8,
.query__item__status .m-box__card > i.s8,
.single__card > i.s8 {
  background-position: 77.77777777777777% 33.3333333333%;
}
.m-cards > i.p8,
.m-card.p8,
.m-modal__card > i.p8,
.m-box__status .m-box__card > i.p8,
.m-box__cards > i.p8,
.post__preview__status .m-box__card > i.p8,
.query__item__status .m-box__card > i.p8,
.single__card > i.p8 {
  background-position: 77.77777777777777% 66.6666666666%;
}
.m-cards > i.m9,
.m-card.m9,
.m-modal__card > i.m9,
.m-box__status .m-box__card > i.m9,
.m-box__cards > i.m9,
.post__preview__status .m-box__card > i.m9,
.query__item__status .m-box__card > i.m9,
.single__card > i.m9 {
  background-position: 88.88888888888889% 0;
}
.m-cards > i.s9,
.m-card.s9,
.m-modal__card > i.s9,
.m-box__status .m-box__card > i.s9,
.m-box__cards > i.s9,
.post__preview__status .m-box__card > i.s9,
.query__item__status .m-box__card > i.s9,
.single__card > i.s9 {
  background-position: 88.88888888888889% 33.3333333333%;
}
.m-cards > i.p9,
.m-card.p9,
.m-modal__card > i.p9,
.m-box__status .m-box__card > i.p9,
.m-box__cards > i.p9,
.post__preview__status .m-box__card > i.p9,
.query__item__status .m-box__card > i.p9,
.single__card > i.p9 {
  background-position: 88.88888888888889% 66.6666666666%;
}
.m-cards > i.m5r,
.m-card.m5r,
.m-modal__card > i.m5r,
.m-box__status .m-box__card > i.m5r,
.m-box__cards > i.m5r,
.post__preview__status .m-box__card > i.m5r,
.query__item__status .m-box__card > i.m5r,
.single__card > i.m5r {
  background-position: 100% 0;
}
.m-cards > i.s5r,
.m-card.s5r,
.m-modal__card > i.s5r,
.m-box__status .m-box__card > i.s5r,
.m-box__cards > i.s5r,
.post__preview__status .m-box__card > i.s5r,
.query__item__status .m-box__card > i.s5r,
.single__card > i.s5r {
  background-position: 100% 33.3333333333%;
}
.m-cards > i.p5r,
.m-card.p5r,
.m-modal__card > i.p5r,
.m-box__status .m-box__card > i.p5r,
.m-box__cards > i.p5r,
.post__preview__status .m-box__card > i.p5r,
.query__item__status .m-box__card > i.p5r,
.single__card > i.p5r {
  background-position: 100% 66.6666666666%;
}
.m-cards > i.we,
.m-card.we,
.m-modal__card > i.we,
.m-box__status .m-box__card > i.we,
.m-box__cards > i.we,
.post__preview__status .m-box__card > i.we,
.query__item__status .m-box__card > i.we,
.single__card > i.we {
  background-position: 0% 99.9999999999%;
}
.m-cards > i.ws,
.m-card.ws,
.m-modal__card > i.ws,
.m-box__status .m-box__card > i.ws,
.m-box__cards > i.ws,
.post__preview__status .m-box__card > i.ws,
.query__item__status .m-box__card > i.ws,
.single__card > i.ws {
  background-position: 11.11111111111111% 99.9999999999%;
}
.m-cards > i.ww,
.m-card.ww,
.m-modal__card > i.ww,
.m-box__status .m-box__card > i.ww,
.m-box__cards > i.ww,
.post__preview__status .m-box__card > i.ww,
.query__item__status .m-box__card > i.ww,
.single__card > i.ww {
  background-position: 22.22222222222222% 99.9999999999%;
}
.m-cards > i.wn,
.m-card.wn,
.m-modal__card > i.wn,
.m-box__status .m-box__card > i.wn,
.m-box__cards > i.wn,
.post__preview__status .m-box__card > i.wn,
.query__item__status .m-box__card > i.wn,
.single__card > i.wn {
  background-position: 33.333333333333336% 99.9999999999%;
}
.m-cards > i.dw,
.m-card.dw,
.m-modal__card > i.dw,
.m-box__status .m-box__card > i.dw,
.m-box__cards > i.dw,
.post__preview__status .m-box__card > i.dw,
.query__item__status .m-box__card > i.dw,
.single__card > i.dw {
  background-position: 44.44444444444444% 99.9999999999%;
}
.m-cards > i.db,
.m-card.db,
.m-modal__card > i.db,
.m-box__status .m-box__card > i.db,
.m-box__cards > i.db,
.post__preview__status .m-box__card > i.db,
.query__item__status .m-box__card > i.db,
.single__card > i.db {
  background-position: 55.55555555555556% 99.9999999999%;
}
.m-cards > i.dr,
.m-card.dr,
.m-modal__card > i.dr,
.m-box__status .m-box__card > i.dr,
.m-box__cards > i.dr,
.post__preview__status .m-box__card > i.dr,
.query__item__status .m-box__card > i.dr,
.single__card > i.dr {
  background-position: 66.66666666666667% 99.9999999999%;
}
.m-cards {
  font-size: 0;
}
.m-card,
.m-modal__card > i,
.m-box__status .m-box__card > i,
.post__preview__status .m-box__card > i,
.query__item__status .m-box__card > i,
.single__card > i {
  height: 32px;
  margin: 0 3px;
  width: 21px;
}
.m-overlay {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000000;
}
.m-modal {
  background-color: #fff;
  border: 2px solid #769fcd;
  border-radius: 8px;
  padding: 15px 10px;
  position: absolute;
  width: 300px;
  z-index: 1000001;
}
.m-modal > h1 {
  font-size: 16px;
  border-bottom: 2px dashed #d6e6f2;
}
.m-modal p {
  font-size: 14px;
  line-height: 1.7;
  margin: 0;
  padding: 0;
}
.m-modal__content {
  margin: 10px 0;
  text-align: center;
}
.m-modal__close {
  font-size: 26px;
  height: 40px;
  position: absolute;
  right: -20px;
  top: -20px;
  width: 40px;
}
.m-modal__card {
  margin-top: 20px;
}
.m-modal__card > i {
  height: auto;
  width: 40px;
}
.m-modal__btn {
  margin: 20px 0 10px;
  text-align: center;
}
.m-loader {
  margin: 100px auto;
  font-size: 25px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: loading 1.1s infinite ease;
  animation: loading 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.m-box,
.postSet,
.postConfirm,
.query__item {
  border-radius: 10px;
  background-color: #edf4f9;
  margin-bottom: 40px;
  padding: 20px 2% 10px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.m-box__status,
.post__preview__status,
.query__item__status {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-weight: bold;
  font-size: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.m-box__status > li,
.post__preview__status > li,
.query__item__status > li {
  border: 1px solid #afcee6;
  border-radius: 4px;
  margin: 0 3px 5px 0;
  padding: 1px 5px;
}
.m-box__status .noBorder,
.post__preview__status .noBorder,
.query__item__status .noBorder {
  border-color: transparent;
}
.m-box__status .m-box__card,
.post__preview__status .m-box__card,
.query__item__status .m-box__card {
  border: none;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.m-box__status .m-box__card > i,
.post__preview__status .m-box__card > i,
.query__item__status .m-box__card > i {
  display: block;
  height: 48px;
  margin-left: 5px;
  width: 31.5px;
}
.m-box__cards {
  font-size: 0;
}
.m-box__cards > i.large {
  width: 58px;
}
.m-box__cards > i.select {
  cursor: pointer;
}
.m-box__cards i.active:after,
.m-box__cards i.select:hover:after {
  background-color: rgba(255,0,0,0.2);
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  z-index: 1;
}
.m-box__cards > i.removeBtn {
  cursor: pointer;
  position: relative;
}
.m-box__cards > i.removeBtn:hover:before {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
  content: "\f00d";
  font-family: "icomoon" !important;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  line-height: 1;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.m-box__title {
  border-bottom: 2px dashed #fff;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 0.04em;
  line-height: 1.4;
  margin: 0 0 10px;
  padding: 0 0 5px;
}
.m-box__strong {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(50%, transparent), color-stop(60%, #fff), to(transparent));
  background: linear-gradient(transparent 50%, #fff 60%, transparent 100%);
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 5px;
}
.m-box__note {
  margin-bottom: 5px;
}
.m-box__note > .m-card {
  position: relative;
  top: 2px;
}
html,
body,
#app {
  height: 100%;
}
body {
  background: radial-gradient(#f2f2f2 4px, transparent 5px);
  background-size: 20px 20px;
  color: #4a4a4a;
  font-family: "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  line-height: 1.7;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
a {
  border-bottom: 1px solid #769fcd;
  color: #5185bf;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
a:hover {
  border-color: #3b6ca2;
  color: #3b6ca2;
}
.header {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(5%, #d6e6f2), to(#c3daec));
  background: linear-gradient(to bottom, #d6e6f2 5%, #c3daec 100%);
  -webkit-box-shadow: 0 3px 5px #d6e6f2;
  box-shadow: 0 3px 5px #d6e6f2;
  font-family: "Roboto", sans-serif;
  min-height: 58px;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 10;
}
.header:after {
  background: #b9d7ea;
  content: "";
  display: block;
  height: 2px;
  width: 100%;
}
.header > h1 {
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
  letter-spacing: 0.03em;
  padding: 5px 20px 3px;
  text-align: center;
}
.newPostBtn {
  top: 10px;
  font-size: 32px;
  height: 55px;
  right: 10px;
  position: fixed;
  width: 55px;
  z-index: 10;
}
.newPostBtn:hover {
  border-color: #fff;
}
.breadcrumb {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 11px;
}
.breadcrumb > li:first-child {
  color: #5185bf;
  cursor: pointer;
  margin-right: 5px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.breadcrumb > li:first-child:hover {
  color: #3b6ca2;
}
.breadcrumb > li:first-child .icon-home:before {
  font-size: 15px;
  margin-right: 2px;
  position: relative;
  top: 1px;
}
.breadcrumb li .icon-right:before {
  margin-right: 5px;
}
[class^="content-"] {
  background-color: rgba(255,255,255,0.7);
  min-height: 100%;
  margin: 0 auto;
  max-width: 640px;
  padding: 74px 1% 100px;
}
.content-post {
  padding-bottom: 250px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.content__footer {
  margin-top: 80px;
  text-align: center;
}
.content-notfound > .m-box {
  text-align: center;
}
.postSet {
  border-radius: 10px;
  margin-bottom: 30px;
}
.postSet--radioWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.postSet--radioWrap label {
  border-radius: 50%;
  height: 80px;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 80px;
}
.postSet--radioWrap + .postSet--radioWrap {
  border-top: 2px dashed #fff;
  padding-top: 10px;
}
.postSet--rangeWrap label {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.postSet--rangeWrap label i {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #d6e6f2;
  color: #769fcd;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 20px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 50px;
}
.postSet--rangeWrap label i + i {
  margin-left: 5px;
}
.postSet--rangeWrap label i:hover {
  background-color: #b9d7ea;
}
.postSet--textarea,
.postSet--text {
  margin-bottom: 10px;
  width: 96%;
}
.postSet--textarea {
  max-width: 96%;
  min-height: 68px;
  min-width: 96%;
  height: 68px;
}
.postSet--switch {
  display: none;
}
.postSet--switch + label {
  background-color: #eee;
  border: 2px solid #ddd;
  border-radius: 6px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: block;
  font-weight: bold;
  font-size: 16px;
  height: 4em;
  line-height: 4em;
  letter-spacing: 0.04em;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 200px;
}
.postSet--switch + label:before,
.postSet--switch + label:after {
  display: inline-block;
  position: absolute;
  text-align: center;
  width: 200px;
}
.postSet--switch + label:before {
  content: attr(data-on);
  left: -200px;
}
.postSet--switch + label:after {
  content: attr(data-off);
  left: 0;
}
.postSet--switch:checked + label {
  background-color: #fff;
  border: 2px solid #d6e6f2;
}
.postSet--switch:checked + label:before {
  left: 0;
}
.postSet--switch:checked + label:after {
  left: 200px;
}
.postSet--switch:hover + label {
  border-color: #769fcd;
}
.postSet--switch + label {
  margin: 20px 0 10px;
}
.postConfirm > div {
  font-size: 14px;
  margin-bottom: 25px;
  white-space: pre-wrap;
}
.post__preview {
  background-color: rgba(23,23,23,0.8);
  bottom: 0;
  color: #fff;
  left: 0;
  position: fixed;
  -webkit-overflow-scrolling: touch;
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  z-index: 100000;
}
.post__preview > div {
  width: 640px;
  margin: 0 auto;
  padding: 10px 1% 5px;
}
.post__preview__status > li {
  border-color: #f7fbfc;
}
.post__preview__status + .m-box__cards {
  border-radius: 4px;
  background-color: #575757;
}
.query__item {
  background: #e5eff7 url("../img/dragon.png");
  background-repeat: no-repeat;
  background-position: top 16% left 60%;
  padding-top: 12px;
}
.query__item__header {
  font-size: 13px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 7px;
}
.qmery__item__header__detial {
  width: 70%;
}
.qmery__item__writer {
  font-weight: bold;
  margin-bottom: 5px;
}
.qmery__item__writer > i {
  color: #769fcd;
  font-size: 18px;
  margin-right: 3px;
}
.query__item__status {
  margin-bottom: 0;
}
.query__item__dora {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 0;
  width: 30%;
}
.query__item__dora > i {
  height: auto;
  margin-left: 5px;
  margin-right: 0;
  width: 24%;
}
.query__item__footer {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-top: 6px;
  padding-top: 5px;
}
.query__item__footer__detail {
  font-size: 13px;
  width: 45%;
}
.query__item__footer__detail > div {
  border-bottom: 2px dashed #b9d7ea;
  margin-bottom: 5px;
  padding-bottom: 2px;
}
.query__item__footer__detail > div > i {
  color: #769fcd;
  font-size: 16px;
  margin-right: 5px;
  position: relative;
  top: 1px;
}
.query__item__btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: transparent;
  border: 1px solid #769fcd;
  border-radius: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 18px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 64px;
  line-height: 1;
  letter-spacing: 0.04em;
  padding-right: 0.08em;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  width: 45%;
}
.query__item__btn:hover {
  background-color: #b9d7ea;
}
.single {
  font-size: 16px;
  line-height: 1.6;
}
.single__section {
  margin-bottom: 35px;
}
.single__date {
  font-size: 14px;
  margin-bottom: 5px;
  text-align: right;
}
.single__writer {
  font-size: 18px;
  margin-bottom: 5px;
  text-align: right;
}
.single__writer > i {
  color: #769fcd;
  font-size: 20px;
  margin-right: 4px;
}
.single__postTitle {
  border-bottom: 1px solid #d6e6f2;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.06em;
  margin-bottom: 16px;
}
.single__status {
  margin-bottom: 15px;
  font-weight: bold;
}
.single__status > li {
  display: inline-block;
  border-bottom: 1px dashed #b9d7ea;
  margin-right: 10px;
}
.single__status > li:before {
  color: #769fcd;
  margin-right: 2px;
}
.single__condition {
  white-space: pre-wrap;
}
.single__card {
  margin-bottom: 8px;
}
.single__card > i {
  height: auto;
  width: 6.7%;
}
.single__title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.07em;
  margin-bottom: 8px;
}
.single__title:before {
  color: #769fcd;
  margin-right: 4px;
  position: relative;
  top: 1px;
}
.single__subTitle {
  font-weight: bold;
  margin-bottom: 2px;
}
.single__subTitle:before {
  color: #769fcd;
  margin-right: 2px;
}
.single__submit {
  margin: 25px 0 10px;
  text-align: center;
}
.single__submit__note {
  margin-top: 5px;
  font-size: 14px;
}
.account {
  bottom: 10px;
  position: fixed;
  left: 10px;
  z-index: 10;
}
.account__btn,
.account__display {
  -webkit-box-shadow: -1px 1px 5px #89b7d9;
  box-shadow: -1px 1px 5px #89b7d9;
  font-size: 40px;
  height: 100px;
  width: 100px;
}
.account__btn:hover,
.account__display:hover {
  border-color: #265c7e;
}
.account__display {
  overflow: hidden;
}
.account__display > img {
  min-height: 100%;
  max-width: 100%;
}
.account__display > img:hover {
  opacity: 0.9;
}
[class^="footer__overlay"] {
  position: fixed;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: 10;
}
.footer__overlay--black {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: rgba(0,0,0,0.2) transparent transparent transparent;
  left: 0;
  top: 0;
}
.footer__overlay--black.active {
  border-width: 100vh 100vw 0 0;
}
.footer__overlay--blue {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0 0 0;
  border-color: transparent transparent #e8f2f8 transparent;
  bottom: 0;
  right: 0;
}
.footer__overlay--blue.active {
  border-width: 0 0 100vh 100vw;
}
.footer__copy {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: bold;
  left: -72px;
  letter-spacing: 0.02em;
  position: fixed;
  text-shadow: 1px 1px 1px #4a4a4a;
  top: 86px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  z-index: 1000;
}
.footer__menuBtn {
  bottom: 10px;
  font-size: 40px;
  height: 55px;
  right: 10px;
  position: fixed;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  width: 55px;
  z-index: 100;
}
.footer__menuBtn:hover {
  border-color: #fff;
}
.footer__menuBtn > i {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
}
.footer__menuBtn.active {
  font-size: 60px;
  height: 104px;
  width: 104px;
}
.footer__menu {
  bottom: 125px;
  border-top: 2px dashed #769fcd;
  color: #4a4a4a;
  font-weight: bold;
  right: 10px;
  position: fixed;
  text-align: right;
  text-shadow: 1px 1px 1px #f7fbfc;
  z-index: 10000;
}
.footer__menu > li {
  border-bottom: 2px dashed #769fcd;
  cursor: pointer;
  font-size: 16px;
  line-height: 1;
  padding: 10px 0;
}
.footer__menu > li:hover {
  color: #3b6ca2;
}
